h1 {
	color: black;
}

html {
box-sizing: border-box;
*, *:before, *:after {
box-sizing: inherit;
}

/**GLOABLES**/

a{
    text-decoration: none;
    color: black
}
.contenedor{
    max-width: 1200px;
    margin-inline: auto;
}
img{

    max-width: 100%;

}
/**HEADER Y NAV**/
.nombre-sitio {

    margin-top: 50px; 
    margin-bottom: 50px;
    text-align: center;
}
.nombre-sitio span {
	color: #037bc0;
}
.contenedor-navegacion{
    border-top: 1px solid #e1e1e1;
}
.nav-principal{
    padding: 20px 0 ;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    
}

.hero{
    background-image: url('img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

}

/**CATEGORIA PRODUCTOS**/

.listado-categorias{
    display: grid;
    /*grid-template-columns: repeat(4, 200px);*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: 100px 100px;*/
    grid-template-columns: repeat(3, 1fr);
    gap: 20px ;



}